@import url(/assets/styles/global.css);

body {
  padding-top: 86px;
}

header {
    width: 1440px;
    margin: auto;
    padding: 10px 120px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    background-color: var(--color-light);
}

.nav-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

nav {
    margin-right: 64px;
    display: flex;
    align-items: center;
    color: var(--color-dark);
    font-family: var(--font-primary);
}

nav a:not(:last-child) {
    margin-right: 20px;
}

.img-logo {
    height: 66px;
}

button.btn-header {
    height: 40px;
    background-color: var(--color-tertiary);
    color: var(--color-light);
    font-family: var(--font-primary);
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button.btn-header:hover {
    background-color: var(--color-secondary);
}

button.btn-header:active {
    background-color: var(--color-primary);
    transform: translateY(0);
    box-shadow: none;
}